.default, .red {
    margin: 5px;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: #03a9f4;
    color: white;


    &:hover{
        background-color: #029ce0;
    }

    &:active{
        background-color: #02739d;
    }

    &:disabled{
        background-color: #cccccc;
        color: #666666;
    }

}


.red {
    background-color: #D32F2F;

    &:hover{
        background-color: #b42828;
    }

    &:active{
        background-color: #912020;
    }


}
